<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LxAniDB_WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <LxAniDB_WPF.Properties.Settings>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="remoteServer" serializeAs="String">
                <value>api.anidb.net</value>
            </setting>
            <setting name="remotePort" serializeAs="String">
                <value>9000</value>
            </setting>
            <setting name="localPort" serializeAs="String">
                <value>7119</value>
            </setting>
            <setting name="delay" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="watchedChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="deleteChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="selectedState" serializeAs="String">
                <value>0</value>
            </setting>
        </LxAniDB_WPF.Properties.Settings>
    </userSettings>
</configuration>
